.password-confirm-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;

    .icon-input-container {
        .icon-input {
            left: 10px;
            padding-right: 10px;
        }
        .input-label {
            font-size: 1em;
        }
        .input-base {
            width: calc(100% - 55px);
            padding-left: calc(35px + 20px);
            font-size: 1.2em;
            padding-top: 10px;
            padding-bottom: 10px;

        }
    }

    .password-confirm-checkers {
        align-self: flex-start;
        .password-checker {
            display: flex;
            align-items: center;
            .password-checker-icon {
                margin-right: 5px;
                width: 15px;
            }

        }
        > .password-checker {
            margin-top: 5px;
        }
        & :first-child {
            margin-top: 0;
        }
    }
    
    .password-confirm-submit-btn {
        width: 50%;
        margin-top: 30px;
    }
    > div, button { 
        margin-top: 15px;
    }
    & :first-child {
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px) {
    .password-confirm-form {
        .password-confirm-checkers {
            .password-checker {
                font-size: 0.8em;
                .password-checker-icon {
                    width: 10px;
                }
            }
        }
    }
}