@import "client/shared/styles/variables.scss";

.catalogs {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    color: $primary-dark;

    .catalogs-catalog {

        margin-top: 30px;
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .catalogs {
        .catalogs-catalog {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (max-width: 768px) {
    .catalogs {
        .catalogs-catalog {
            grid-template-columns: 1fr;
        }
    }
}