@import "../../../shared/styles/variables.scss";

.icon-input-container {
    position: relative;
    width: 100%;
    height: 100%;
    .icon-input {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 52%;
        z-index: 100;
        left: 5px;
        fill: $font-main;
        border-right: 1px solid $font-main;
        padding-right: 5px;
    }
    .input-base {
        width: calc(100% - 10px - 60px);
        padding-left: 40px;
    }
    .input-label-hint {
        right: -25px;
    }

}