@import "client/shared/styles/variables.scss";

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 1000;
    top: 0;
    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $font-secondary;
        height: $header-height;
        padding: 10px $page-padding-side;
        background: $primary-dark;

        .logo {
            height: 100%;
            svg {
                height: 100%;
            }
        }
        .navigation {
            display: flex;
            .navigation-item {
                color: $font-main;
                font-size: 0.9em;
                text-decoration: none;
            }

            > .navigation-item {
                margin-left: 30px ;
            }
            & :first-child {
                margin-left: 0px;
            }
        }
        .tools {
            display: flex;
            .button {
                width: max-content;
                padding: 10px 25px;
                font-size: 0.9em;

                &.navbar-login-btn {
                    color: $font-main;
                }

                &.navbar-settings-btn {
                    position: relative;
                }
            }
        }
    }
}