@import "client/shared/styles/variables.scss";

.card {
    background: $primary-light;
    padding: 30px;
    border-radius: 5px;
    box-shadow: inset $standard-shadow;

    .card-title {
        font-size: 2em;
        font-weight: 400;
    }

    .card-tools {
        margin-top: 15px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        .card-info {
            letter-spacing: 0.05em;

            .card-info-status {
                display: flex;
                align-items: center; 
             }

            .card-status-icon {
                width: 15px;
                margin-left: 5px;
            }
        }

        .card-check-details-btn {
            padding: 0;
            height: 60%;
            font-size: 0.9em;
            align-self: flex-end;
        }
    }
}


@media screen and (max-width: 800px) {
    .card {
        .card-title {
            font-size: 1.8em;
        }
        .card-tools {
            .card-info {
                font-size: 0.8em;
                .card-status-icon {
                    width: 10px;
                }
            }   
        }
    }
}

@media screen and (max-width: 524px) {
    .card {
        .card-title {
            font-size: 1.5em;
        }
        .card-tools {
            grid-template-columns: 1fr;
            .card-info {
                font-size: 0.7em;
                margin-bottom: 15px;
                .card-status-icon {
                    width: 8px;
                }
            }
            .card-check-details-btn {
                height: 100%;
                margin-top: 15px;
            }
        }
    }
}