@import "../../shared/styles/variables.scss";

.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    .auth-logo {
        .logo {
            width: 150px;
        }
    }
    .auth-container {
        margin-top: 30px;
        width: 50vw;
        background: white;
        padding: 50px 100px;
        box-shadow: $shining-shadow;
        border-radius: 3px;

        .auth-title {
            text-align: center;
            font-size: 1.8em;
        }

        .auth-footer {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            .auth-footer-link {
                margin-left: 20px;
                color: $primary-dark;
                font-weight: 500;
            }
        }

    }
}


@media screen and (max-width: 768px) {
    .auth-page {
        .auth-container {
            width: 65vw;
            padding: 50px 25px;
            .auth-footer {
                margin-top: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 0.8em;
                
                .auth-footer-link {
                    margin-left: 0;
                    border-bottom: 1px solid $primary-dark;
                }
            }
        }

       
    }
}