@import "../../shared/styles/variables.scss";

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    .icon-input-container {
        .icon-input {
            left: 10px;
            padding-right: 10px;
        }
        .input-label {
            font-size: 1em;
        }
        .input-base {
            width: calc(100% - 55px);
            padding-left: calc(35px + 20px);
            font-size: 1.2em;
            padding-top: 10px;
            padding-bottom: 10px;

        }
    }
    .login-submit-btn {
        width: 50%;
        margin-top: 30px;
    }
    > div, button { 
        margin-top: 15px;
    }
    & :first-child {
        margin-top: 0px;
    }
}