@import "client/shared/styles/variables.scss";

.radio-container {
    margin-left: 3px;
    position: relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .radio-input {
        position: absolute;
        opacity: 0;
        height: 0;
        width: 0;
        &:hover {
            ~.radio-span {
                background-color: $font-main;
            }
        }
        &:checked {
            ~.radio-span {
                background-color: $primary-dark;
                &:after {
                    opacity: 1;
                }
            }
        }
    }

    .radio-span {
        position: absolute;
        top: 3px;
        left: 0;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        background-color: $font-light;
        transition: 0.1s;
    }

    .radio-label {
        margin-left: 25px;
    }
}
