.filters-modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    > div, button {
        margin-top: 20px;
    }

    & :first-child {
        margin-top: 0;
    }

    .filters-modal-sort-by {
        height: fit-content;
        max-height: fit-content;
        .select-label {
            font-size: 1em;
        }
    }
   
}