@import "client/shared/styles/variables.scss";

.footer {
    background: $primary-light;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: calc($footer-height / 2) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-title {
        color: $font-main;
        font-size: 0.9em;
    }
}